body {
  background-color: #deb047;
}
.header {
  display: flex;
  background-color: #f0a776;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
}
.Info_img img {
  width: 30%;
  border: 2px solid black;
  border-radius: 200px;
}
.Introduction h1 {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.menu {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.menu ul {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  color: green;
}
.menu li {
  color: green;
  text-decoration: none;
  margin-left: 10px;
  list-style: none;
}

.INTRO-image img {
  width: 100%;
}
#First h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
